<div class="crud-container">
  <div class="card form-card">
    <h3>{{ editando() ? 'Editar Produto' : 'Novo Produto' }}</h3>
    <div class="form-grid">
      <input [(ngModel)]="produtoAtual().nomeProduto" placeholder="Nome do Produto">
      <input type="number" [(ngModel)]="produtoAtual().precoProduto" placeholder="Preço (R$)">
      <input type="number" [(ngModel)]="produtoAtual().quantidadeEstoque" placeholder="Qtd em Estoque">
      <input [(ngModel)]="produtoAtual().descricao" placeholder="Descrição">

      <div class="actions">
        <button class="btn-save" (click)="salvar()">{{ editando() ? 'Atualizar' : 'Cadastrar' }}</button>
        <button *ngIf="editando()" class="btn-cancel" (click)="resetar()">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="card table-card">
    <h3>Estoque Atual</h3>
    <table>
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Preço</th>
          <th class="text-center">Estoque</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (p of produtos(); track p.id) {
        <tr>
          <td class="text-center">{{ p.nomeProduto }}</td>
          <td class="text-center">R$ {{ p.precoProduto.toFixed(2) }}</td>
          <td class="text-center">{{ p.quantidadeEstoque }} un</td>
          <td class="text-center">
            <button class="btn-edit" (click)="prepararEdicao(p)">✎</button>
            <button class="btn-delete" (click)="excluir(p.id)">🗑</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>